.vs/
Library/
Logs/
obj/
Temp/
UserSettings/
.vsconfig
Assembly-CSharp.csproj
Assembly-CSharp.Player.csproj
ScrewSort.sln
DOTween.Modules.csproj
DOTween.Modules.Player.csproj
DOTweenPro.EditorScripts.csproj
DOTweenPro.Scripts.csproj
DOTweenPro.Scripts.Player.csproj
